In [2]:
import numpy as np 
import pandas as pd 
import math 
import random 
import matplotlib.pyplot as plt

In [16]:
point1 = abs(np.random.normal(1, 12, 100)) 

point2 = abs(np.random.normal(2, 8, 100)) 

point3 = abs(np.random.normal(3, 2, 100)) 

point4 = abs(np.random.normal(10, 15, 100))

In [18]:
x = [point1, point2, point3, point4]

In [14]:
y = [int(np.random.normal(0, 4)) for i in range(100)]

In [23]:
df = pd.DataFrame()

In [24]:
df['col1']= point1
df['col2']= point2
df['col3']= point3
df['col4']= point4

In [25]:
df

         col1
0   25.955748
1   18.538766
2   15.817968
3    0.522880
4   10.939833
..        ...
95   9.657598
96   7.936924
97  10.766133
98   6.407042
99  15.530396

[100 rows x 1 columns]